{
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 300%;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: pink;
  text-align: center;
  text-shadow: 5px 5px 7px #000000;
}
table, th, td {
  border: 1px solid #000;
  border-radius: 40px;
border-collapse: collapse;
background-color: pink;
}
body {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  background-image: url("https://www.therange.co.uk/_m5/4/7/1571305221_2_2549.jpg");
}
footer {
  background: #F0F0F0;
}

footer h3 {
  text-align: center;
  font-weight: normal;
  font-size: 90%;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
